body {
    background-color: #666666;
}

.editsection {
    display: none;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
}

.container {
    background-color: #ffffff;
    padding-left: 5px;
    min-height: 509px
}

.navbar {
    /*padding-left: 25px;*/
}

.main-content {
    padding-top: 10px;
}

.horiz-rule {
    border-bottom: 1px solid #9a9a9a;
}

.news-title {
    font-size: 1.5em;
}

.date {
    font-size: .75em;
}
