body {
    font-family: arial, sans;
}

.nav {
    float: right;
    width: 40%;
    border: 1px solid black;
}

.nav a {
    display: block;
    margin: 5px 0px;
    text-decoration: none;
    color: #000;
}

.nav .label {
    clear: left;
    font-size: 37px;
    float: left;
}

.nav .desc {
    font-size: 16px;
    padding-left: 10px;
    float:left;
}

#widgets .widget {
    background-image:url('widgetbg.png');
    background-repeat:no-repeat;
    padding:30px;
    width:250px;
    height:250px;
}
