{% load feincms_tags %}
<html>
<head>
    <link rel="stylesheet" href="/media/css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/media/css/blueprint/print.css" type="text/css" media="print">    
    <!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <link rel="stylesheet" href="/media/css/custom.css" type="text/css" media="screen, projection">
    <link rel="shortcut icon" href="/media/siteimages/favicon.ico" type="image/x-icon" />


    <link rel="stylesheet" href="/media/css/wiki.css" type="text/css" media="screen">
    <title>Barcamp Chicago 2010</title>
</head>
<body>
    <div class="container">
        <div class="span-24 last">
            <a href='/'><img src='/media/siteimages/logo-header.jpg'/></a>
        </div>
        <div class="span-19 main-content">
            {% if feincms_page %} {% comment %} If this is a feincms view vs a wiki view {% endcomment %}

                {% block main_content %}
                {% feincms_render_region feincms_page "main" request %}
                {% endblock %}

            {% else %}

                <h1>WIKI</h1>

                {% block content %}
                {% endblock %}

            {% endif %}
        </div>
        <div class="span-5 last" style="text-align: right;">
            <div class="navbar">
                {% if feincms_page %}
                    {% block sidebar_content %}
                    {% feincms_render_region feincms_page "sidebar" request %}
                    {% endblock %}
                {% else %}
                    {{ wiki_sidebar_html|safe }}
                {% endif %}
            </div>
        </div>  
    </div>
</body>
</html>
